/*Universal box-sizing for all elements*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Exo", sans-serif;
  background-color: #94b8b8;
  overflow-x: hidden;
}

/*style header-----------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #669999;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.navigation a:hover {
  color: #444444;
  background-color: #fff;
}

.overlay-content {
  display: none;
}

.openbtn {
  display: none;
}

.closebtn {
  display: none;
  font-family: "Kaushan Script", cursive;
}

/*style main---------------------------------*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 49px;
}

.img-div {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 1345px;
}

.text {
  position: absolute;
  transform: translate(-85%, -150%);
  color: #ffffff;
}

.title {
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 0px;
}

.img-caption {
  font-size: 24px;
  margin-top: 5px;
}

/*style biography section-------------------------*/
/* all h2 in the document */
h2 {
  text-align: center;
  margin-bottom: 0;
}

#biography {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  background-color: #f2f2f2;
  width: 100%;
}

.tribute-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 90px 40px 90px;
}

.tribute-info img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.tribute-info p {
  width: 800px;
  line-height: 1.8;
  padding: 20px;
  font-size: 18px;
}

/*style filmography section-------------------------*/

#filmography {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 90px 40px 90px;
}

.movies-left,
.movies-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 488px;
  padding: 20px;
  margin: 18px 0;
}

.poster {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 12px;
  border: 4px dotted grey;
  box-shadow: 5px 10px 14px rgb(81, 82, 82, 0.4);
  width: 428px;
}

.poster img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #cccccc;
}

.poster ul {
  padding-left: 30px;
}

/*style award section-------------------------------*/

#awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  background-color: #f2f2f2;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  padding-bottom: 40px;
  max-width: 1345px;
}

.award-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
  background-color: #94b8b8;
  border-radius: 12px;
  box-shadow: 5px 10px 14px rgb(81, 82, 82, 0.4);
  margin: 35px;
}

.award-card img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #cccccc;
}

.award-card p {
  margin: 10px 0;
}

.award-card p:first-of-type {
  margin-top: 30px;
}

/* style info section -----------------------------*/

#info {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.content-logos {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.logo {
  margin: 0 15px;
}

/* style footer ----------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 49px;
  background-color: #3d5c5c;
  color: #ffffff;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #c7c406;
}

/* media queries for tablets with screens 768px-----------*/

@media screen and (max-width: 790px) {
  /* improve hero image position ------------------*/

  .text {
    transform: translate(-50%, -100%);
  }

  .title {
    font-size: 50px;
    margin-top: 10px;
  }

  .img-caption {
    font-size: 18px;
  }

  .tribute-info {
    flex-direction: column;
    padding: 50px 40px;
  }

  .tribute-info p {
    width: 90%;
  }

  .movies {
    padding: 40px;
    align-items: flex-start;
  }

  .movies-left,
  .movies-right {
    width: 50%;
    padding: 0;
    margin: 10px;
  }

  .poster {
    padding: 0 10px;
    margin: 10px;
    width: 100%;
    height: 207px;
  }

  .poster img {
    width: 110px;
    height: 110px;
  }

  .poster ul {
    padding-left: 30px;
    font-size: 16px;
  }

  .row {
    margin: 0 auto;
    padding: 40px;
  }

  /* media queries for mobiles with screens 375px-----------*/
}

@media screen and (max-width: 500px) {
  /* style navigation bar for small devices -----*/

  .navigation {
    display: none;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding-left: 40px;
  }

  .overlay-content a,
  .closebtn {
    text-decoration: none;
    font-family: "Kaushan Script", cursive;
    color: #d8d4d4;
    padding: 10px 20px;
    font-size: 36px;
    font-weight: bold;
  }

  .closebtn {
    display: block;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 60px;
  }

  .openbtn {
    display: block;
    float: right;
    font-size: 22px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
  }

  /* improve hero image position ------------------*/
  .text {
    transform: translate(20%, 85%);
  }

  .title {
    font-size: 30px;
    margin-top: 10px;
  }

  .img-caption {
    font-size: 12px;
  }

  .tribute-info {
    flex-direction: column;
    padding: 50px 30px;
  }

  .tribute-info p {
    width: 100%;
    padding: 20px 0;
  }

  .movies {
    flex-direction: column;
    padding: 40px 30px;
    align-items: center;
  }

  .movies-left,
  .movies-right {
    width: 100%;
  }

  .row {
    margin: 0 auto;
    padding: 40px 30px;
    max-width: 375px;
  }

  .award-card {
    width: 290px;
    padding: 20px;
    margin: 20px 15px;
  }

  .award-card p {
    margin: 10px;
  }

  .award-card p:first-of-type {
    margin-top: 30px;
  }
}
